{% extends 'base.html' %}
{% block content %}

{% for product in object_list %}
    <div class="jumbotron">
        <h2 class="display-4">
            <a href="{% url 'product-detail' product.id %}"><b>{{product.title}}</b></a>
        </h2>
      <div class="row col-11">
            <div class="col-3" >
                <img src="{{MEDIA_URL}}{{product.img}}" width="150" height="150" align="bottom"/>
            </div>
            <div class="col-9">
                {{product.description}}
            </div>
      </div>

    </div>
{% endfor %}
{% endblock %}